<ion-view title="Congratulations!">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>You just submitted your 3rd donation delivery request!</p>
        </div>
        <div style="text-align:center;">
            <img src="img/pvWtMb7TJedRoFUGNtGz_star_PNG1592.png" width="50%" height="auto">
        </div>
        <div>
            <h2>LEVEL UP</h2>

            <p>
                <strong>Community Star</strong>
            </p>
        </div>
    </ion-content>
</ion-view>