<ion-view title="Congratulations!" hide-back-button="true">
    <ion-nav-buttons side="right">
      <a class="button next-button buttons button-icon icon ion-ios-arrow-next header-item" ui-sref="home">Home</a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align: center;">
            <h4>You just submitted your 3rd donation delivery request!</h4>
        </div>
        <div class="star-animation">
            <img src="img/star.png" width="100%" height="auto">
        </div>
        <div style="text-align: center">
            <h4>LEVEL UP</h4>

            <h1>Community Star</h1>

            <div class="social-share clearfix" style="margin-top: 45px;">
              <h4>Share this with your friends!</h4>
              <img src="img/icons/social.png" width="100%" height="auto" />
            </div>
        </div>
    </ion-content>
</ion-view>
