<ion-view title="Donate">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-checkbox name="food">Food</ion-checkbox>
            <ion-checkbox name="clothes">Clothes</ion-checkbox>
            <ion-checkbox name="electronics">Electronics</ion-checkbox>
            <ion-checkbox name="other">Other</ion-checkbox>
            <a ui-sref="donationDetails" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Next</a>
        </form>
    </ion-content>
</ion-view>