<ion-view title="Donation Delivery">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <h4>Nearest Donation Centre</h4>

                <p>4321 Heritage Rd. Calgary Alberta T2V 8K3
                    <strong>Hours:</strong>9am - 5pm, MON - FRI
                    <strong>Phone:</strong>(403) 123-4567</p>
            </div>
            <ion-toggle toggle-class="toggle-positive" name="need-delivery">Need Delivery</ion-toggle>
            <div>
                <p>When should we pick-up the items from your address?</p>
            </div>
            <label class="item item-select" name="pickup-date">
                <span class="input-label">Date</span>
                <select>
                    <option>Tomorrow, March 7, 2016</option>
                    <option>Tuesday, March 8, 2016</option>
                    <option>Wednesday, March 9, 2016</option>
                    <option>Thursday, March 10, 2016</option>
                    <option>Friday, March 11, 2016</option>
                    <option>Saturday, March 12, 2016</option>
                    <option>Sunday, March 13, 2016</option>
                </select>
            </label>
            <ion-item class="range range-positive">Between
                <input type="range" value="1000" min="0700" max="2000" name="pickup-time-from">
            </ion-item>
            <ion-item class="range range-positive">And
                <input type="range" value="1000" min="0700" max="2000" name="pickup-time-to">
            </ion-item>
            <a ui-sref="notes" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Next</a>
        </form>
    </ion-content>
</ion-view>