<ion-view title="Donate">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list categories">
          <div class="clearfix">
            <ion-checkbox
              name="pasta"
              ng-repeat="category in categories"
              ng-model="category.selected"
              ng-value="category.value"
              ng-change="selectedCategoriesChanged(category, selectedCategories)"
              ng-class="{checked: category.selected}">

              <img src="img/icons/{{category.icon}}" /><br />
              <span ng-bind-html="category.title"></span>
            </ion-checkbox>
          </div>
          <a ui-sref="donationDetails" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Next</a>
        </form>
    </ion-content>
</ion-view>
