<ion-view title="Donation Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <h4>What are you donating?</h4>

                <p>You don't have to be specific, unless an item is worth over $20.</p>
            </div>
            <label class="item item-input" name="details">
                <span class="input-label"></span><textarea placeholder="Two men shirts and an old iPhone 3gs"> </textarea>
            </label>
            <div>
                <h4>Your address</h4>

                <p>We will find the nearest donation centre to your address.</p>
            </div>
            <label class="item item-select" name="donation-address">
                <span class="input-label">Address</span>
                <select>
                    <option>NOT SELECTED</option>
                    <option>1234 Elbow Dr. SW Calgary Alberta T2V 4N7</option>
                    <option>New Address</option>
                </select>
            </label>
            <a ui-sref="donationDelivery" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Next</a>
        </form>
    </ion-content>
</ion-view>