<ion-view title="Donation Delivery">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <h4>Nearest Donation Centre</h4>

                <p>4321 Heritage Rd. Calgary Alberta T2V 8K3<br />
                    <strong>Hours:</strong> 9am - 5pm, MON - FRI<br />
                    <strong>Phone:</strong> (403) 123-4567</p>
            </div>
            <ion-toggle
              toggle-class="toggle-positive"
              name="need-delivery"
              ng-model="donate.needDelivery">Need Delivery</ion-toggle>

            <div ng-show="donate.needDelivery" class="fadein" style="padding-top: 20px">
              <div>
                  <p>When should we pick-up the items from your address?</p>
              </div>
              <div>
                  <img src="img/donation-calendar{{donate.dateSelected ? '-active' : ''}}.png" width="100%" height="auto" ng-click="donate.dateSelected = ! donate.dateSelected" />
              </div>
              <label class="item">
                  Between
                  <img width="auto" height="40" style="vertical-align: middle; margin: 0 5px" src="img/time-from.png" />
                  and
                  <img width="auto" height="40" style="vertical-align: middle; margin: 0 5px" src="img/time-to.png" />
              </label>
              <a ui-sref="notes" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Next</a>
            </div>
        </form>
    </ion-content>
</ion-view>
