<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/ADzUff35Tse4xv850AEq_bg-home.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/oBMVJKa3TZKEn5v2O2Wl_AHZ4nTR72ZpiqsfiStVw_bg-home.jpg" width="100%" height="auto">
        </div>
        <a ui-sref="donate" class="button button-balanced button-block button-large">DONATE</a>
        <a ui-sref="deliverDonations" class="button button-calm button-block button-large">DELIVER DONATIONS</a>
    </ion-content>
</ion-view>