<ion-view title="Notes">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="donation-phone">
                <span class="input-label">Phone number</span>
                <input type="tel" placeholder="(123) 456-7890" value="(403) 587-1842">
            </label>
            <div>
                <h4>Notes</h4>
            </div>
            <label class="item item-input" name="notes">
                <textarea style="height: 100px;" placeholder="Example: Please call before coming for pick-up"></textarea>
            </label>
            <a ng-click="makeApiRequest('congratulations')" ng-class="{disabled: loading}" class="button button-balanced button-block button-large icon-right ion-ios-arrow-forward button-full">Submit</a>

        </form>
    </ion-content>
</ion-view>
