<ion-view title="Pending Deliveres">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="">
            <div class="map-container map-pendings">
                <div class="spinner-container"><ion-spinner></ion-spinner></div>

                <div class="map-header">
                  <p>Mark the deliveries you finished:</p>
                  <p id="duration"></p>
                </div>

                <div id="map-pendings" class="map"></div>

                <div class="map-footer">
                  <a ng-click="makeApiRequest('congratulations2')" ng-class="{disabled: loading}" class="button button-calm button-block button-large icon-right ion-ios-arrow-forward button-full">All Done!</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
