.map-container {
  $header-height: 70px;
  $footer-height: 57px + 12px;
  $pendings-header-height: 50px;

  .map-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background: white;
    z-index: 100;
    padding: 10px;
  }
  &.map-pendings .map-header {
    height: $pendings-header-height;
  }
  .map {
    position: absolute !important;
    top: $header-height + 10px;
    left: 0;
    right: 0;
    bottom: $footer-height + 10px;
    z-index: 101;
  }
  &.map-pendings .map {
    top: $pendings-header-height + 10px;
  }
  .map-footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    z-index: 100;

    button {
      height: 57px;
    }
  }
}
